exportPattern("^[[:alpha:]]+")
import(DMRcate)
import(limma)
import(minfi)
import(Matrix)
import(methods)
import(rtracklayer)
import(GenomicRanges)
importFrom("vegan", vegdist)
importFrom("GMD", heatmap.3)
